@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Navigation bar */

html {
    scroll-behavior: smooth;
    background-color: #FAFAFA;
}

body {
    font-family: "Source Code Pro", monospace !important;
}


.fadeIn {
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
    animation: fadeIn 0.75s 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}